/*asteric wildcart selector to override default styles added by a browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
header{
    background-color: blue;
}
/*Main*/
main{
    background-color: lightblue;
}
/*footer*/
footer{
    background-color: lightgray;
}