/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/*asteric wildcart selector to override default styles added by a browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*General Style*/
body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /*generic project style*/
     color: #3a3a3a;
     font-family: "Lato", sans-serif;
}

/*Header*/
header{
    background-color: blue;
}
/*Main*/
main{
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}
/*footer*/
footer{
    background-color: lightgray;
}